html, body, ul, li, a{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.ContainmerGeneral{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: var(--color06);
}

.NavBar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-image: linear-gradient(to left, var(--color03), var(--color04));
    position: fixed;
    width: 100vw;
    height: 60px;
    z-index: 2;

    & ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    & ul > li{
        margin: 10px 15px 0px 15px;
        padding: 10px;
        font-size: 15px;
        text-transform: uppercase;
        color: var(--color06);
        font-weight: bolder;
    }

    & ul > li:hover{
        cursor: pointer;
        background-color: var(--color04);
        color: var(--color02);
        border-radius: 10px;
        transition: 0.3s;
    }

    & img{
        padding: 0px 20px 0px 20px;
        margin-top: 5px;
        width: 90px;
        height: 50px;
        border-radius: 30%;
        display: block;
    }

    & i{
        display: none;
    }
}

.Header{
    position: relative;
    width: 100%;
    top: 60px;
    margin: 0;
    padding: 0;
    z-index: 0;
    
    & img{
        height: 600px;
    }
}

.SectionOne{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & img{
        max-width: 300px;
        transform: scaleX(-1);
    }

    & div{
        margin-top: 50px;
        width: 60%;
        text-align: justify;

        & div:nth-child(1){
            line-height: 30px;
            color: var(--color03);
        }

        & p{
            margin-top: 20px;
        }
    }
}

.ModalOff{
    display: none;
}

.Modal{
    width: 100vw;
    height: 100vh;
    z-index: 5;
    position: fixed;
    background: #ffffff48;
    box-shadow: 0 8px 32px 0 #1f268759;
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid #ffffff2e;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: end;
  

    & div{
        width: 70vw;
        height: 80vh;
        border-radius: 50px;
        position: relative;
        

        & i{
            font-size: 35px;
            color: var(--color01);
            position: absolute;
            left: 94%;
            top: 2%;
        }

        & i:hover{
            cursor: pointer;
            transform: scale(1.2);
            transition: 0.8s;
            color: red;
        }
    }
}

h3{
    text-align: center;
    text-transform: uppercase;
}

.SectionTwo {
    display: grid;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    column-gap: 20px;
    justify-content: center;
    place-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;

    
   
    & div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        max-width: 350px;
        padding: 30px;
        border: 1px solid var(--color04);
        border-radius: 10px;
        background-image: linear-gradient(to left, var(--color03), var(--color04));
        margin-bottom: 20px;

        & img{
            margin-bottom: 10px;
            width: 100px;
        }

        & h4{
            color: var(--color01);
            text-transform: uppercase;
        }

        & p{
            color: var(--color01);
            text-align: center;
        }
    }

    & div:hover{
        cursor: pointer;
    }
}

.SactionTree {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;


  & .Agendamento {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    margin-bottom: 100px;
    margin-top: -1px;
    background-image: linear-gradient(to left, var(--color03), var(--color04));

    & img{
        width: 350px;
    }

    & div{
        width: 50%;
        border: none;
        
        & h1{
            text-transform: uppercase;
            text-align: left!important;
            color: var(--color01);
        }

        & p{
            color: var(--color01);
            text-align: justify;
            font-weight: bold;
        }

        & button{
            padding: 20px;
            border-radius: 10px;
            text-transform: uppercase;
            font-weight: bold;
            border: solid 1px var(--color03);
        }

        & button:hover{
            transform: scale(1.1);
            transition: 0.8s;
        }
    }
  }
}




@media screen and (max-width: 999px) {
    .NavBar{
        height: 50px;

        & .MenuFalse{
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
            position: absolute;
            right: 0;
            left: 0px;
            top: 50px;
            height: 30vh;
            background-image: linear-gradient(to left, var(--color03), var(--color04));
            border-radius: 0px 0px 0px 10px;
            z-index: 1;
            animation: menu ease-in-out 0.8s forwards;
        }

        & .MenuTrue{
            flex-direction: column;
            justify-content: space-around;
            align-content: center;
            position: absolute;
            right: 0;
            left: 0px;
            top: 50px;
            height: 30vh;
            background-image: linear-gradient(to left, var(--color03), var(--color04));
            border-radius: 0px 0px 10px 10px;
            z-index: 1;
        }

        & ul > li{
            flex-direction: column;
            color:  var(--color01);
            margin: 0;
        }

        & img{
            width: 50px;
            height: 40px;
            padding: 5px;
        }

        & i{
            position: absolute;
            right: 15px;
            top: 0px;
            display: block;
            font-size: 30px;
            color: var(--color01);
        }
    }

    .Header{
        position: relative;
        width: 100vw;
        top: 50px;
        margin: 0;
        padding: 0;
        z-index: 0;

        & img{
            height: 200px;
        }
    }

    .SectionOne{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        
        

        & div{
            margin-top: 20px;
            width: 90%;
            

            & div:nth-child(1){
                text-align: center;
            }

            & p{
                width: 100%;
                text-align: center;
            }
        }




    }

    .SvgWave{
        margin-top: 280px;
        margin-bottom: -1px;
        z-index: 1;
    }

    
    h3{
        margin-top: 50px!important;
        font-size: 21px!important;
        max-width: 90%;
    }

    .SectionTwo{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-bottom: 50px;

        & h3{
            margin-bottom: 30px;
            font-size: 18px;
        }
        & div{
           width: 100%;
           padding: 10px;
        }

        & img{
            width: 80px;
            margin-bottom: 10px;
        }

        
        & h4{
            font-size: 15px;
        }

        & p{
            font-size: 15px;
            text-align: justify;
        }
    }

    .Modal{

        & div{
            width: 90%;
            margin-bottom: 80px;
            border-radius: 10px;

            & i{
                top: 0%;
                left: 85%;
            }
        
        }
    }

    .SactionTree{


        & .Agendamento{
            text-align: center;


            & img{
                width: 300px!important;
            }

            & div{
                width: 80%;
 
                & h1{
                    text-align: center!important;
                    font-size: 21px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                }

                & p{
                    text-align: center;
                }

                & button{
                    padding: 10px!important;
                    font-size: 15px;
                    margin-bottom: 30px;
                }
            }
        }

    }
}

@keyframes menu {
    0% {
        left: 0%;
        opacity: 1;
        visibility: visible;
    }
    100% {
        left: 100%;
        opacity: 0;
        visibility: hidden;
    }
}